venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
.vscode/
.idea/
*.log
backend/venv/
backend/__pycache__/
backend/app/__pycache__/
apk/.dart_tool/
apk/build/
apk/.flutter-plugins
apk/.flutter-plugins-dependencies
apk/.packages
apk/.metadata
apk/android/.gradle/
apk/android/app/debug/
apk/android/app/profile/
apk/android/app/release/